[2018-07-12 23:25] little-dude opened #1 "find a better name for the iproute2 crate"
From [/u/zokier on reddit](https://www.reddit.com/r/rust/comments/8yduqa/announcing_a_netlink_crates/e2aajmx), this is confusing and can be perceived as hostile, so let's change the name. Ideas welcome.

[2018-08-06 16:16] glebpom opened #3 "MalformedNlaValue error"
Hi,

Thanks for the great work!

I've received the `MalformedNlaValue` on the example case
[code]

The reason is that the size doesn't match in `NativeNla` `from_bytes` check [here](https://github.com/little-dude/netlink/blob/master/rtnetlink/src/packets/nla.rs#L257)
I was getting this error on `LinkStats<u32>` (92 bytes vs. required 96 bytes).

It seems like, structs may have the different size d

[2018-08-06 17:00] little-dude commented on #3
Hi!

I was afraid this kind of issue would happen... I hope we won't end up  with too much conditional compilation based on the kernel version.

May I ask which kernel you're using?

Cheers,
Corentin

[2018-08-06 17:19] little-dude commented on #3
Also if you have a capture of the faulty packets, that might help.

[2018-08-06 17:39] glebpom commented on #3
[code]

I'm afraid conditional compilation will not work because there is no kernel version information during the compilation.

I had a brief look on the structures, containing the link information in the Linux kernel (containing the fields from `LinkStats` rust structure). It seems like there are a lot of them, which look "truncated" (missing fields at the end). It probably means that buffers wi

[2018-08-06 17:52] glebpom commented on #3
It could be something like:

[code]

[2018-08-09 16:25] little-dude commented on #3
@glebpom just to let you know that I won't be able to work on that until mid-Septembre unfortunately. I'm planning to fix that after I finish a big refactoring to provide an audit library (cf https://github.com/little-dude/netlink/pull/2).

[2018-09-11 14:21] lu-zero commented on #1
It isn't that confusing, but you could call it `nl.rs` or `rnl` and `rnl-tools` but then searching for it would be a bit more problematic.

I would keep the name as-is, though :)

[2018-09-20 20:43] mhristache opened #5 "Support ip rule"
Hi

I am looking for a netlink library in rust with support for `ip rule` manipulations. I checked the src code for this lib and it doesn't seem to support ip rules.

Do you plan to add such support?

Thanks

[2018-10-10 13:19] Phlogistique commented on #1
How about "linux-network-config".

Makes it obvious that it accesses the configuration of Linux's network stack.

[2018-11-01 21:00] mhristache opened #6 "How to get the IP addresses"
Hi

I am looking for a way to retrieve the IP addresses for a link but could not find anything related to it in the `iproute2` crate so I guess I need to use `rtnetlink` which seems a bit more lower level.

Do you happen to have an example for this?

Thanks

[2018-11-04 22:36] mhristache commented on #6
I am working on adding address support to iproute2. PR will (hopefully) come soon.

[2018-11-05 01:17] little-dude commented on #6
Awesome :)

Sorry for not going back to you earlier. I currently lack time to work on this crate myself unfortunately, but I'll definitely review and merge a PR that adds addresses to iproute2.

I'm still planning a big refactor to add support for audit, but it's going to take a while to land :(

[2018-11-25 00:15] mhristache opened #8 "Does not work with new kernels"
The newer version of linux kernel [have added support for direct broadcast forwarding](https://patchwork.ozlabs.org/patch/950046/) and that is causing the rtnetlink parsing of `LinkAfInetNla` to fail:

[code]

The `LinkInetDevConf` struct is basically missing the newly added field (`IPV4_DEVCONF_BC_FORWARDING`) and so it cannot be created from the received NLA

[code]
This is how an strace of the

[2018-11-25 00:19] mhristache commented on #8
Ah, I just noticed issue #3 and I think this is most likely the same issue. So, feel free to close this one in favor of #3 if you want to.

[2018-11-27 21:25] #6 closed, assigned to nobody

[2018-12-05 09:42] #3 closed

[2018-12-05 09:42] #8 closed

[2018-12-29 01:15] little-dude opened #16 "Unsound unsafe in netlink-packet"
Clippy does not like the way we implemented `netlink_packet::audit::status::StatusMessage::{to_bytes,from_bytes}`:

[code]

I'm not familiar enough with unsafe to tell whether this is really UB (we do check the buffer length before casting, normally), so I think it's best to just avoid `unsafe` and rewrite this withouth it... We did the same for `NativeNla` though and there are lots of attributes

[2018-12-29 01:17] little-dude commented on #16
At the very least, `to_bytes` should be marked as unsafe because it's UB for sure if we don't check the length of `buf` before calling the method.

[2018-12-29 20:36] little-dude commented on #16
fixed in #17

[2018-12-29 20:36] #16 closed

[2019-01-02 18:45] little-dude opened #25 "tracking issue for missing netlink-packet message types for the route protocol"
Two big pieces are missing in `netlink-packet`:

- [x] route messages (`rtmsg`). See the `pyroute2` implementation here: https://github.com/svinota/pyroute2/blob/master/pyroute2/netlink/rtnl/rtmsg.py
- [x] rule messages (`fibmsg`). This one seems a bit easier. See the `pyroute2` implementation here: https://github.com/svinota/pyroute2/blob/master/pyroute2/netlink/rtnl/fibmsg.py
- [x] tc messages.

[2019-01-02 18:48] little-dude opened #26 "benchmark message parsing and serialization"
Benchmarking is an unknown territory for me, so I'm not sure how to proceed with this, but it would be really useful to have some numbers and compare them to other implementations like `libnl`.

[2019-01-02 18:53] little-dude opened #27 "implement `ip monitor`"
This should not be too hard. All we need to bind the netlink socket to multicast groups we're interested in. We already do something similar for audit events (see https://github.com/little-dude/netlink/blob/master/audit/examples/events.rs), and most of the code for implementing this already exists in netlink-proto.

[2019-01-02 18:54] little-dude commented on #1
I ended up renaming it after the protocol itself: `rtnetlink`.

[2019-01-02 18:54] #1 closed

[2019-01-02 18:59] little-dude opened #28 "have `unsafe` uses reviewed."
This is the first project where I use `unsafe`, it would probably be a good idea to have someone a bit more experienced review these pieces of code. There are not that many occurences:

- most of them for ffi in `netlink-sys`
- 2 are in `netlink-proto`

[2019-02-01 22:24] little-dude opened #35 "Split netlink-packet into smaller crates"
As [suggested by @flier](https://github.com/little-dude/netlink/pull/32#issuecomment-459595419) it may be a good idea to split `netlink-packet` into smaller crates for each netlink protocol (at the moment: audit, route, and sock_diag). Then, `netlink-packet` would just expose a generic `NetlinkMessage` type.

~~I'm not 100% sure I want to do this though. The main reason would be that `netlink-pack

[2019-02-02 03:57] flier commented on #35
I believe the core library should be as simple as possible, easy to maintain and rarely changed, because linux netlink protocol [rfc3549](https://tools.ietf.org/html/rfc3549) has stabled for years.

If we handle all message type in one crate, we have to update it very frequently, it will cause the end user confused what happened and when the crate could be stable. If we could decouple the typed me

[2019-02-03 22:46] little-dude commented on #35
Agree.

I'm sorry but I don't really understand this. If `netlink-packet` depends on a bunch of other crates like `netlink-packet-route`, `netlink-packet-audit`, etc. then the `Cargo.toml` will have something like:

[code]

Then if `netlink-packet-route` is bumped to `0.10` for instance, we also need to bump the version of `netlink-packet`. So in the end, we still have to increment `netlink-packet

[2019-02-04 13:04] flier commented on #35
That's our current problem, the `netlink-packet` should only depend on `netlink-sys`, and only handle the raw netlink message. All the typed message should be moved to `netlink-packet-audit` or others, and we can chain the decoding process (&[u8] -> raw NetlinkMessage -> typed AuditMessage) with `Iterator` or `Stream`.

In fact, `tokio` use a similar design with [tokio-codec](https://tokio-rs.gith

[2019-02-04 19:48] little-dude commented on #35
Aaah I understand know. That makes sense. Thanks for taking the time to explain in detail :)

[2019-02-04 23:30] little-dude opened #37 "use smallvec instead of vec for rtnetlink nlas (?)"
With the route protocol, many messages have 0 to 4 NLAs. It may be worth storing the NLAs into a [smallvec](https://github.com/servo/rust-smallvec) instead of a vec. We probably need more benchmarks to tell though.

[2019-02-08 16:56] little-dude opened #38 "Implement network namespace creation a la iproute2"
Some workflows with the route protocol involve configuring interfaces in other network namespaces. However, the namespace creation itself is not part of the netlink protocol. One must use the `unshare()` or `clone()` syscalls for that.

Another problem is keeping such namespaces alive even if no process uses them: if no entry in `/proc` points to a given namespace, the kernel deletes it. `iproute2

[2019-02-08 17:02] little-dude commented on #38
Here is an `strace` capture of `ip netns add blue` for the record`:

[code]

[2019-02-08 23:18] little-dude opened #40 "abandon rtnetlink"
I'm not satisfied with `rtnetlink` API, and as shown in https://github.com/little-dude/netlink/pull/39, there are fundamental design issues when it comes to namespaces, which I have no idea how to fix.

[2019-03-28 13:43] lambdabear opened #42 "Broadcast address is incorrect after executing handle.address().add()"
After running
handle
        .address()
        .add(index, IpAddr::V4(Ipv4Addr::new(10, 0, 0, 20)), 24)
        .execute()
        .wait()
        .unwrap();

ip addr show:
inet 10.0.0.20/24 brd 255.255.255.0 scope global secondary enp7s0

But the correct brd should be 10.0.0.255, maybe it is wrong to make the subnet mask a broadcast address.

[2019-03-30 18:30] little-dude commented on #42
The problem is probably here: https://github.com/little-dude/netlink/blob/3c3ecba895a2a8653b17279509e9a5f82250aefa/rtnetlink/src/addr/add.rs#L60-L63

I may have misunderstood the `IFA_BROADCAST` attribute.

I'm afk until mid-may though so I won't be able to debug that. However I'll gladly test and review a PR in the meantime.

[2019-03-31 11:14] lambdabear commented on #42
Thanks, I have created a PR for this issue.

[2019-04-04 13:04] #42 closed

[2019-04-25 17:31] pinkisemils opened #44 "Avoid defining kernel dependent data structures."
Currently, `netlink-packet::rtnl::link::inet6::dev_conf::LinkInet6DevConfBuffer` is trying to mirror the kernel's `ipv6_devconf` struct as defined in `/lib/modules/$(uname -r)/build/include/linux/ipv6.h. Since certain fields in `ipv6_devconf` are dependent on the kernel config, it'll be hard to ensure that this crate is ever 100% compatible with the machine it's running on. For instance, the `dump

[2019-04-26 11:06] little-dude commented on #44
Hello,

I did not even realize there were config dependent structs :(

I can't see an immediate solution either at this point, so yeah, keeping those a `Vec<u8>` might be better for the time being.

(I'll be AFK for the next 15 days, so won't be able to comment further)

[2019-05-04 07:58] squeed commented on #44
I'd been toying around with my own netlink library (though it's high time I gave it up and switched to this), and I pulled these in with `bindgen`. While binaries won't work cross-platform, it does fix local compilation...

[2019-05-04 08:11] squeed commented on #40
It's not all bad :-). I think you've really hit on a good idea with the builder approach. Interfaces messages, in particular, are difficult to model in Rust. I'm not sure that [my approach](https://github.com/squeed/rust-netlink/blob/master/src/hl/iface/mod.rs#L28) is any more ergonomic.

I do think that single-threaded synchronous is the way to go, though. As you've correctly identified, switchin

[2019-05-09 19:29] areux commented on #5
Can you please start implementing RPDB aka ip-rule? I started working on improving the project but I don't quite know the netlink API. a shame rust still doesn't have a proper netlink library...

[2019-05-18 00:42] little-dude commented on #5
I'll have more time to work on this crate this summer in July and August

Let me know if you have any question :)

¯\\\_(ツ)\_/¯

[2019-07-18 14:27] idanski opened #46 "duplicate audit events"
Hey!

I'm using your events example (https://github.com/little-dude/netlink/blob/master/audit/examples/events.rs) and I get duplicate events.

I shut down systemd's journald audit feature, and tested other audit executables (go-audit, auditd) to verify, but it reproduces only when using this library..

I'm using Arch Linux and it reproduces on Ubuntu as well.

Any idea as to why that happens?

Tha

[2019-07-18 15:50] little-dude commented on #46
Hello,

I haven't touched this code for while, so I can't think of anything off the top of my head. I'm also pretty busy looking for a job at the moment so I probably won't be able to help with this for the moment unfortunately... I'm sorry about this :S

[2019-07-18 15:50] little-dude commented on #46
(didn't mean to close though)

[2019-07-18 16:34] idanski commented on #46
Good luck @little-dude! I'll see if I can figure it out on my own..

[2019-07-19 13:58] idanski commented on #46
Hey I think I made some progress understanding why the double messages occur.

It seems like the same audit message is sent on 2 multicast groups (values 0 and 1) I really don't understand enough about netlink to understand why that happens or how to correctly address it.

I'll be happy for your thoughts when you get to it, and I'll gladly help however I can.

Here is an example log (it seems to b

[2019-07-19 14:09] idanski commented on #46
OK, I verified it, if I remove these lines from the example I still get the messages but only once!
[code]

[2019-08-12 16:36] little-dude commented on #40
Hello @squeed, sorry for not answering earlier, I stopped working on netlink for a few months.

Yeah I think so too. I am not familiar with go though. What kind of problems have they had wrt namespaces? Docker being built in Go, I would have assumed this was working pretty well.

Thanks for the kind words :) I kind of changed my mind about it being horrible anyway, because I think the upcoming asy

[2019-08-12 16:37] little-dude commented on #40
Well I'm going to close this, as I said above, I don't think rtnetlink is _that_ bad anymore. I just requires some more work.

[2019-08-12 16:37] #40 closed

[2019-08-12 16:46] #35 closed

[2019-08-19 00:18] LuoZijun opened #48 "[Question] RT_NETLINK route delete packet spec"
Hello, I have a project that is very similar to this project. In fact, I refer to a lot of your code :).
I am currently trying to implement a `ip route del/add` function, but it doesn't seem to work. I think it should be caused by the wrong format of the data packet.
I would be very grateful if you could share the relevant details.

From Google Translate

Code:

https://github.com/ExodusVPN/exodus

[2019-08-27 14:56] little-dude commented on #48
Hello @LuoZijun sorry for not answering earlier (just got a notification thanks to @jeromegn comment). I haven't played with routes yet, unfortunately. This is on the roadmap of course but I just lack time. If you manage to solve this problem, I'm interested to hear about it, and/or read the code.

[2019-08-28 13:17] LuoZijun commented on #48
@little-dude Thank you for your reply. I seem to find some clues in this code. I think I should find time to try again in the next few days.

CodeLine: https://github.com/vishvananda/netlink/blob/master/route_linux.go#L487

@jeromegn This project code is so low level. The high level impl maybe in the some [examples](https://github.com/little-dude/netlink/tree/master/rtnetlink/examples).

[2019-08-31 19:59] Shnatsel commented on #16
Looks like `to_bytes()` could be used to trigger an out-of-bounds write from safe code. This can leard to an exploitable security vulnerability. Please file a security advisory at https://github.com/RustSec/advisory-db so that users of this crate can check if they're using a vulnerable version and upgrade.

Please also consider yanking affected versions from crates.io.

[2019-09-07 03:56] LuoZijun commented on #48
@little-dude

https://gist.github.com/LuoZijun/6d34257a235d14f205fc17458c49c8a4

It seems that the code of this library also doesn't work.

-_-

[2019-09-08 11:49] #46 closed

[2019-09-08 15:54] little-dude commented on #46
Thanks @idanski, I fixed that locally and will push soon.

[2019-09-14 04:25] LuoZijun commented on #48
@little-dude

I will try it tomorrow.
I am going to add some code to the https://github.com/shemminger/iproute2  to dump the packet information.

[2019-09-16 08:37] LuoZijun commented on #48
@little-dude

I now know the reason, that is, I did not use root to execute ...
But don't know why netlink doesn't give permission error...

[2019-09-17 08:03] LuoZijun commented on #48
@jeromegn

`route add & route del` are now working properly. If you are interested, you can take a look.

Code Example:
    https://github.com/ExodusVPN/exodus/blob/rewrite/crates/netlink/examples/route.rs
    https://github.com/ExodusVPN/exodus/blob/rewrite/crates/netlink/src/route/mod.rs#L234

@little-dude

when i finished my work, i will make a PR about `route add/del` example for you.

[2019-09-17 08:24] little-dude commented on #48
Very nice, thanks @LuoZijun !

[2019-09-19 12:37] jeromegn commented on #48
Thanks @LuoZijun I will certainly use it!

[2019-10-21 00:14] SirWindfield opened #52 "Question: Changing frequency of interface"
Is it possible to change the frequency (aka channel) of a given interface using this library? I am trying to port some C code:

[code]

I couldn't really find an example or methods/struct that re similar named.

[2019-10-21 06:40] little-dude commented on #52
Unfortunately nl80211 is not supported yet, sorry.

[2019-10-30 02:19] scrollins opened #53 "Cant build crate or examples"
Hello,
I'm trying to build netlink and I'm running into lifetime parameter errors. I was trying to build the examples by running `cargo build --examples` and got the following error

[code]

I'm running the following versions of rustc and cargo
[code]

[2019-10-30 12:43] little-dude commented on #53
Hello,

Indeed some examples are broken. However your errors are different and come from the fact that you're using an old nightly: the current nightly is 1.40, not 1.37. After upgrading you should see different errors (that I'm going to fix, hopefully this weekend):

[code]

[2019-10-30 13:05] scrollins commented on #53
Thanks for the quick response! I updated my nightly and I am seeing the same errors as you. I'll work around them and only build the examples for `netlink-packet-route` since I need to pull neighbor information.

[2019-10-30 14:43] little-dude commented on #53
Cool, let me know if you have any other issue in the meantime. These crates are in flux right now. I'll try to release something a little more stable in the coming weeks when async/await is stable.

[2019-10-31 03:30] scrollins commented on #53
No worries. We are in the same boat you are w/ our codebase regarding async/await. I think we are going to look into using async/await once it gets into stable.

[2019-11-01 02:51] scrollins opened #54 "Get neighbour information is giving back an error message"
Hello again,
I'm trying to pull neighbor information from netlink and I get an error message back. How do I debug what this error message means? This is the error that I'm seeing

[code]

What I've basically done is modify the dump_links example to call GetNeighbor and pull the neighbor information. However, to construct a NeighborMessage, I have to construct the object and pass in the neighbor st

[2019-11-01 08:10] little-dude commented on #54
Hello @scrollins,

I haven't tried the code yet but here are a couple general remarks to begin with:

- Filtering in netlink is buggy, and the general recommendation is to dump entire tables. This is what `iproute2` does. For reference:
    - https://lists.infradead.org/pipermail/libnl/2013-June/001010.html
    - https://patchwork.ozlabs.org/patch/133440/
-  You're using the `NLM_F_REQUEST` flag.

[2019-11-01 12:50] scrollins commented on #54
Thanks for the recommendations. I'll work through this and once(hopefully) I get it working, I'll gladly contribute back the example to your repo. Thanks again!

[2019-11-01 12:52] little-dude commented on #54
Awesome :) Oh and if you're stuck I'll give it a try tonight anyway.

[2019-11-01 13:23] scrollins commented on #54
👍 I plan on trying to get this to work over the weekend

[2019-11-02 14:25] little-dude commented on #53
Examples are fixed in master. However some examples require specific `--features` flags, so running `cargo build --examples` in the workspace will fail. For instance:

- in `netlink-proto`: `cargo build --example audit_events  --features workaround-audit-bug`
in `netlink-sys`: `cargo build --example audit_events_async --features tokio_socket`

[2019-11-02 14:25] #53 closed

[2019-11-03 20:33] scrollins commented on #54
I've done a little debugging over the weekend. I changed the Netlink flag to use `dump`
packet.header.flags = NetlinkFlags::from(NLM_F_DUMP);

I believe the issue are filters being sent in the message
[code]
I believe the NeighborHeader shouldnt pass any filter values, get a full dump and match what i see when running `ip neigh`

[2019-11-04 14:03] little-dude commented on #54
Yes it does :+1:

[2019-11-04 14:24] little-dude commented on #54
@scrollins I've added a working example. You'll need to pull the latest master.
See: https://github.com/little-dude/netlink/commit/1e5ea32503a8bfafbf622d132fbe0cb7a19381c4

[2019-11-04 14:24] #54 closed

[2019-11-05 02:40] scrollins commented on #54
Thank you so much for pushing that change up. It was greatly appreciated. I was able to parse the message. One thing I noticed is that you have to set the offset if you want to get the payload of the message out of the byte array.
[code]
I'm going to work on parsing it out and hopefully push up a PR that makes getting to the actual payload easier than having to put the offset in the loop. Thanks a

[2019-11-05 09:10] little-dude commented on #54
When you call `NetlinkMessage::deserialize(bytes).unwrap()` you get a `NetlinkMessage<RtnlMessage>`, which has a `payload` attribute. The payload is already parsed, so you don't need to parse it yourself. I updated the example to show how to extract information from the payload in https://github.com/little-dude/netlink/commit/ec569ff752737320326f4ca943a18a768d3a0d85. Basically you can `match` agai

[2019-11-05 13:27] scrollins commented on #54
Awesome. I saw the payload was in there but I couldn't figure out how to parse it without setting an index on the byte array. I'd be more than glad to help document. I think the [netlink linux man pages](http://man7.org/linux/man-pages/man7/netlink.7.html) are really terrible and like your README states, you have to read multiple sources just to understand what the netlink protocol even does

[2019-11-05 15:33] little-dude commented on #54
When I'll publish the new version of the crates you'll be able to see that on doc.rs, but for now you could just do `cargo doc --open` in the `netlink-packet-route` directory.

It's not great yeah but we should also do a better job at documenting things on our side as well

[2019-11-08 17:58] scrollins commented on #54
definitely agree. i can help out w/ the documenting once i get the netlink stuff working in my app. what are your thoughts on publishing the updated crate to crates.io? also, i've been looking into a couple of things that i might try to implement. all of the data structures defined in NLA enum are vec<8>s. for the destination, that will always be an ipv4 or ipv6 address. instead of having a vec<8>

[2019-11-09 14:14] little-dude commented on #54
That would be awesome, thank you!

I'm just waiting for a new tokio release that uses futures 0.3. I think it will happen soon.

The reason for using `Vec<u8>` here is that I'm not 100% sure that these addresses will always be IP and MAC addresses. They are definitely the most common types of values, but Linux also supports other protocols with potentially different address structures (MPLS, GRE,

[2019-11-11 15:12] scrollins commented on #54
According to the netlink documentation, dst should always be a ipv4 and ipv6 address. same w/ the link layer address http://man7.org/linux/man-pages/man7/rtnetlink.7.html
              NDA_DST         a neighbor cache n/w layer destination address
              NDA_LLADDR      a neighbor cache link layer address

[2019-11-21 19:02] ebkalderon opened #58 "Implement FromRawFd for Socket in netlink-sys"
## Motivation

There doesn't appear to be any way to create a new socket with `netlink_sys::Socket::new()` that conforms to this signature:

[code]

Apparently, the flags used in the constructor are hard-coded to `SOCK_DGRAM` with no option to specify something else. If `Socket` implemented [`FromRawFd`](https://doc.rust-lang.org/std/os/unix/io/trait.FromRawFd.html), I could call `libc::socket()`

[2019-11-21 19:04] ebkalderon commented on #58
The former option is extremely easy to do, while the latter might be more involved. With that said, I don't believe they are mutually exclusive. Having both options would be nice. I'm willing to open a pull request for the former right now, since it should be quite easy to implement.

[2019-11-21 19:33] #58 closed

[2019-11-21 19:39] ebkalderon commented on #58
Feel free to re-open this issue if you decide to implement a dedicated safe API for specifying socket types!

[2019-11-21 19:39] little-dude commented on #58
I'm curious: why would you want `SOCK_RAW | ::SOCK_CLOEXEC` instead of `SOCK_DGRAM`, for a netlink socket? We could have `Socket::new()` take a `flags` argument instead of hardcoding `SOCK_DGRAM`, and maybe have `Socket::default()` which uses `SOCK_DGRAM`?

[2019-11-21 19:47] ebkalderon commented on #58
I'm currently developing a user namespaces sandboxing crate which mimics [Bubblewrap](https://github.com/containers/bubblewrap), and there is [a socket call with those flags](https://github.com/containers/bubblewrap/blob/2105ff8ba4bb0680dc33543624d1642babbe01ce/network.c#L153) while setting up the loopback device for the sandboxed child process, which was cloned with a new network namespace (`CLON

[2019-12-15 11:01] igor-petruk opened #61 ""add address" example does not compile: set_name_filter missing"
Additional datapoint: try searching for this method here

https://docs.rs/rtnetlink/0.1.1/rtnetlink/?search=set_name_filter

Aslo not there. I wonder if the crate 0.1.1 was released from some older version of the code, where this method was not there yet

[2019-12-15 11:05] igor-petruk opened #62 "Pls update to the use of stable Tokio and futures"
I think at this point `-preview` is not needed.

[2019-12-16 08:13] little-dude commented on #62
Yeah sorry I'm a bit late on this. I'll have some time for it this week hopefully.

[2019-12-20 08:24] little-dude commented on #62
done, and published new crates.

[2019-12-20 08:24] #62 closed

[2020-01-08 08:58] wllenyj commented on #61
Maybe the author has not cargo published.
The same problem is
[code]

[2020-01-08 19:36] little-dude commented on #61
Sorry for being so little reactive on this. @igor-petruk I published `rtnetlink` 0.2 a while ago which should solve the problem.

@wllenyj I'm quite confused by your error. It seems that indeed the `netlink-packet-route` package I uploaded is slightly different from what is currently in master. `RouteMessage` doesn't implement `Default` for instance: https://docs.rs/netlink-packet-route/0.1.0/src/

[2020-01-08 19:42] little-dude commented on #61
@wllenyj @igor-petruk can you tell me exactly what you're trying to build, so that I can reproduce? I assume you're not building the examples directly from the repo.

[2020-01-08 19:49] little-dude commented on #61
Just released `netlink-packet-route` 0.1.1 and `rtnetlink` 0.2.1. Can you `cargo update` and tell me if that fixes your problem?

[2020-01-09 05:21] wllenyj commented on #61
I'm sorry to make you confused.
I 'm trying to build a synchronous version of rtnetlink, so I will use  `netlink-packet-route` and  `netlink-sys` directly.
Now I `cargo update` to `netlink-packet-route 0.1.1` and `rtnetlink 0.2.1`, It 's good.
Thanks very much.

[2020-01-09 08:36] little-dude commented on #61
Oh very cool. Let me know how it goes I'm pretty interested in this.

[2020-01-09 12:51] wllenyj commented on #61
It's very simple. I just use `netlink-packet-route/examples/dump_links.rs` to implement a Handle struct, that is a wrap for `netlink-sys::Socket`. And implement a request function using sync call `Socket`.  The other eg. LinkHandle still use `rtnetlink`, just call the request of `Handle` instead of async in execute.
My team is very concerned about the dependencies of crate . So don't want to use t

[2020-02-06 14:34] jethrogb opened #64 "Unknown packet types silently discarded"
I tried to use rule (which I now found out is not supported #5), but any unknown packets are simply discarded instead of an error being returned on the stream.

[2020-02-06 15:12] little-dude commented on #64
Hello @jethrogb

I would need a little bit more context to help. Could you share the code you're trying to run?

[2020-02-06 15:25] jethrogb commented on #64
[code]

Then make a rule change with `ip rule`, notice nothing happens

[2020-02-16 10:51] little-dude commented on #61
Closing, since the initial issue seems to have been fixed.

[2020-02-16 10:51] #61 closed

[2020-02-16 10:52] little-dude commented on #5
Support for this landed in `netlink-packet-route`. The next step would be to add this to `rtnetlink`.

[2020-02-16 10:53] #26 closed

[2020-02-16 10:57] little-dude opened #68 "Looking for co-maintener(s)"
Hello,

I have had less time to work on my personal projects lately (it took me two weeks to get to review https://github.com/little-dude/netlink/pull/65 for example), so if anyone is interested in helping please let me know.

[2020-02-25 03:27] JohnTitor commented on #68
@little-dude If you still need, I'm happy to help some work!

[2020-02-27 05:32] hermantolim commented on #68
@little-dude count me in

[2020-02-27 05:48] hermantolim commented on #64
@jethrogb I tried current master branch, and I am unable to reproduce this issue. Could you tell me which version are you using?

[2020-02-29 11:25] little-dude commented on #68
Hi @JohnTitor and @hermantolim, thanks a lot for offering to help! I sent you invites as collaborator so you should have write access to the repo already :) I can also add you on crates.io if you want, just let me know your user name.

Thank you again, I think I'm going to close this for now.

[2020-02-29 11:25] #68 closed

[2020-03-01 17:32] simmons opened #70 "Nla does not emit nested and byte order flags"
I was recently experimenting with implementing certain Netfilter IP Set messages and attributes, using the tools in these crates. I noticed that while `NlaBuffer` supports reading and writing the nested (`NLA_F_NESTED`) and network byte order (`NLA_F_NET_BYTEORDER`) flags, the `Emitable` implementation for the `Nla` trait does not provide any way for an `Nla` implementation to supply these flags,

[2020-04-18 13:36] benjumanji opened #71 "Bug in NLA emitting code (somewhere)"
I am currently trying to generate add neighbour messages for ipv6 hosts. I have noticed that if I create a message with just the header and zero nlas, the header is emitted just fine. If I add any nlas then they overwrite part of the nlm header, resulting in a malformed packet. I've added some test code for nlm header set / get, it's all fine. I haven't figured out the rest, but I thought it worth

[2020-04-18 13:46] benjumanji commented on #71
Dumping macros expansions:
[code]
Seems obviously correct, whereas:
[code]
I guess now to dig into where the macros are...

[2020-04-18 13:47] benjumanji commented on #71
Oh wait, it's not a macro, it just shows up there, it's just a plain ol bug. PR incoming.

[2020-04-18 15:06] #71 closed

[2020-04-27 20:48] #70 closed

[2020-05-04 18:59] little-dude opened #74 "Switch to `anyhow` and `thiserror` for error handling"
`failure` is now deprecated.

[2020-05-07 16:14] amalone-scwx opened #76 "examples: dump_links does not compile"
Heads-up, there are some compile errors with dump_links example

steps:
 - `git clone git@github.com:little-dude/netlink`
 - `cargo build`
 - `cargo build --example dump_links`

It looks like it might be a sync example , but the crates default to async?

![image](https://user-images.githubusercontent.com/58046369/81317595-a947e280-9052-11ea-91ae-a5de71566cdb.png)

[2020-05-08 03:04] wllenyj commented on #76
You need entry the netlink-packet-route dir, and `cargo build --example dump_links`. That 's ok.

[2020-05-08 16:51] #76 closed

[2020-05-10 17:05] manuels opened #77 "async_std support?"
This is a well crafted crate. Thanks for implementing it!
Is there a plan to make it work with async_std instead of tokio?

[2020-05-11 06:48] little-dude commented on #77
Hello,

That's something I'd love to have, but I have little time these days, so I'm not working on new features. However I'd gladly accept a PR for this.

Perhaps we should discuss first _how_ to do this though. Currently, there are two places where we have tokio specific code:

- `tokio.rs` in `netlink-sys`: https://github.com/little-dude/netlink/blob/master/netlink-sys/src/tokio.rs. Here we jus

[2020-05-16 11:38] carletes commented on #38
(Caveat: I'm learning Linux namespaces, so take this comment with caution) I think the purpose of that loop is to make all network namespace entries under `/var/run/netns` visible to any process that might create its own mount namespace, and bind-mount `/var/run/netns`.

This is achieved by changing the mount propagation type of `/var/run/nets` to `MS_SHARED`, so that mount events propagate for `/

[2020-05-18 09:16] #74 closed

[2020-06-11 15:47] gabrik commented on #38
Hi, I'm learning rust so take this with caution.

For our Eclipse project [fog05](https://github.com/eclipse-fog05/fog05) we are staring some investigation to migrate the codebase to rust.

So far we have implemented a small PoC of code that does exactly the creation and deletion of network namespaces a la iproute2.

It uses the nix crate and it is missing some error check.
But if you think it is

[2020-06-22 05:02] joshtriplett opened #83 "Generic netlink support?"
I'm looking for support for generic netlink messages; do you have any plans to support genl?

(Or, is it already supported and I managed to miss the crate supporting it?)

[2020-06-22 07:21] little-dude commented on #83
Hi @joshtriplett,

Currently there's no first class support for genl unfortunately. You can still get it to work because the `netlink-packet-core` provides some of what you'd need (netlink headers in particular, and some helpers to parse netlink messages).

What you'd need to implement yourself atm are the genl message themself, ie all the `genl_` structs. Once you have such a `GenlMessage` type,

[2020-06-22 08:22] stoically opened #84 "Extended ifa flags"
Thanks for rtnetlink!

Currently the [`ifa_flags` are hardcoded to `u8`](https://github.com/little-dude/netlink/blob/2c57727a9a277fa4cca12f9e9ecdf9ea36a41064/netlink-packet-route/src/rtnl/constants.rs#L522). Newer kernels support `u32` flags, to allow e.g. setting `IFA_F_MANAGETEMPADDR`.

Just changing to `u32` might not be desired since older kernels don't support that. `iproute2` worked around i

[2020-06-22 22:49] joshtriplett commented on #83
@little-dude Constructing the generic netlink message was exactly where I was hoping to find some type-safe wrappers for the structures involved. I'm not excited about hand-constructing the structures I'd need. :)

I did try `neli`, but ran into some difficulties.

[2020-06-23 06:28] little-dude commented on #84
Hi @stoically,

I seems that we're already using `u32` for the flags. See:

- https://github.com/little-dude/netlink/blob/92e2d4c75e230023ddeecd12d2f6ece536a52ca6/netlink-packet-route/src/rtnl/address/nlas/mod.rs#L78
- and https://github.com/little-dude/netlink/blob/92e2d4c75e230023ddeecd12d2f6ece536a52ca6/netlink-packet-route/src/rtnl/address/nlas/mod.rs#L116

So I think the problem is more that

[2020-06-23 06:30] little-dude commented on #83
@joshtriplett genl doesn't seem too complicated, I might give it a shot this week-end. No guarantee though, I'm having little time for open-source these days unfortunately :(

[2020-06-23 07:33] stoically commented on #84
Ah, I've got the [header flags](https://github.com/little-dude/netlink/blob/92e2d4c75e230023ddeecd12d2f6ece536a52ca6/netlink-packet-route/src/rtnl/address/message.rs#L19) and the actual nla ifa_flags confused (and even linked something totally unrelated). You're right - it totally works already. Thanks for the explanation and sorry for the noise. I'm going ahead and closing this issue, since I'd s

[2020-06-23 07:33] #84 closed

[2020-06-23 21:04] joshtriplett commented on #83
@little-dude Thank you! I look forward to trying it if you get the chance.

[2020-06-23 22:11] joshtriplett commented on #77
As noted in in the link to `smol`, the first item isn't needed at all; because you implement `AsRawFd`, polling just works. So you'd just need a feature flag to enable `tokio` support to avoid the dependency.

The second item would require some modification to use `smol` functions rather than `tokio`, so that would have to be conditional.

[2020-08-04 07:32] cathay4t opened #94 "Missing items for route query"
- [ ] `RTA_NH_ID`
- [ ] `netlink_packet_route::rtnl::nlas::route::MultiPath`
- [ ] `CacheInfo`, `Metric` should be parsed instead of showing as `Vec`.
- [ ] The `RTA_PREF` is u8, not a `Vec`.

[2020-08-04 07:33] cathay4t commented on #94
I will take care of this issue. Just taking notes of my findings.

[2020-10-02 21:37] dmitris opened #103 "test compile failure"
`cargo test --all` on RHEL7 kernel 3.10.0-1127 rustc 1.46.0 fails with the following error: https://gist.github.com/dmitris/072a5b8cd6ef90d7d7a1777790121483

[code]

[2020-10-03 08:38] little-dude commented on #103
Hi @dmitris

Yes, `cargo test --all` doesn't work, see: https://github.com/little-dude/netlink/issues/76#issuecomment-625604551. You have to:

[code]

[2020-10-03 08:41] #103 closed

[2020-10-03 10:23] little-dude opened #105 "Migrate to tokio 0.3 / mio 0.7"
Tokio 0.3 has been released and uses mio 0.7

[2020-10-03 16:46] little-dude opened #106 "Move to Github Actions"
Travis jobs take ages to start, and I find Github Actions easier to maintain.

[2020-10-03 16:50] little-dude opened #107 "Improve documentation"
I think that it's impossible to extensively document all the possible netlink messages and attributes of every single protocol, but it would be nice to improve the overall documentation, because it's one of the biggest netlink pain points. I've started with `netlink-sys` already but if anyone wants to pick up some other crates, be my guest :)

- [ ] netlink-sys
- [ ] netlink-packet-core
- [ ] netl

[2020-10-03 19:06] JohnTitor commented on #106
One minor issue is that GHA doesn't support "allow-failures" currently, we could just ignore nightly's failure though. If you think it's okay, I'm happy to help the migration :)

[2020-10-04 09:35] little-dude commented on #106
So the reason for "allow-failures" originally was that travis would sometimes fail to install clippy or rustfmt. I think this does not happen as often so it should not be a problem.

[2020-10-04 09:36] little-dude commented on #106
I also noticed that there are tons of clippy warnings... Probably because we  allow nightly failures actually. I'm fixing them now

[2020-10-12 08:24] #106 closed

[2020-11-16 15:09] gabrik opened #113 "Adding VXLAN Support"
Hi,

First, thank you for this very useful crate.

I noticed that in `rtnetlink` only some types of interfaces can be created.
And I also see that the VxLAN info is not yet defined: https://github.com/little-dude/netlink/blob/e9ece979dc134fc0080c84f1fcf34a730a3a52bd/netlink-packet-route/src/rtnl/link/nlas/link_infos.rs#L215

As this is very interesting for me to have if you can point me to some re

[2020-11-17 10:25] little-dude commented on #113
Hey, thanks a lot for taking a stab at this!
I think `libnl` is indeed a good source. The netlink go library seems to also support vxlan attributes, so you may look there as well, if you want: https://github.com/vishvananda/netlink/blob/d40f9887b852ec4ce633f2a46734422c87fc8336/link_linux.go#L904

[2020-11-19 09:43] mcr opened #115 "rtnetlink seems to fail if used with non-stock tokio::main"
I am getting complaints from deep inside rtnetlink when I started my tokio runtime manually rather than with the tokio::main macro.
Based upon the tokio::main macros and a variety of feedback on discord and github, I changes rtnetlink/examples/get_links.rs as shown in branch: https://github.com/mcr/netlink/tree/get_links_crashes

I duplicated get_links.rs into get_links0.rs where I initialize toki

[2020-11-19 09:44] mcr commented on #115
[code]

[2020-11-19 10:07] little-dude commented on #115
Thank for the report @mcr.

It may be an issue with `netlink-sys`. When creating the socket I call [`PollEvented::new`](https://docs.rs/tokio/0.2.13/tokio/io/struct.PollEvented.html#method.new). From the doc:

The runtime is usually set implicitly when this function is called from a future driven by a tokio runtime, otherwise runtime can be set explicitly with `Handle::enter` function.

I'll take

[2020-11-19 10:44] gabrik commented on #113
This is was implemented by #114, I'm closing this issue

[2020-11-19 10:44] #113 closed

[2020-11-19 10:55] gabrik commented on #38
@little-dude I would like to pick this, as we need this feature in https://github.com/eclipse-fog05/fog05/tree/rust-master/linux-network

Should the namespace creation/deletion go into `rtnetlink` crate?

I'll probably base my contribution on the already posted code, mainly because the `nix` crate provides already the needed flags.

Are you ok with that?

[2020-11-19 13:07] little-dude commented on #38
Hey @gabrik that would be awesome yes!

It's been a while since I've looked at this. Long ago, I experimented a bit with namespaces (see https://github.com/little-dude/netlink/pull/39/files) but it wasn't working so well.

One issue with the snippet above is that some of these system calls are blocking, in particular `mount` and `umount`. See for instance: https://stackoverflow.com/questions/48627

[2020-11-19 14:29] gabrik commented on #38
Hi @little-dude,

I had a look at your code and the SO question.
Indeed if the `mount` can block the whole process we can be in trouble.
I will have some tries and come with something. I'm not familiar with tokio (I'm more on the async_std side) but I guess spawning a separated thread for the mount and wait for it.

I guess once I have some code we can comment on the PR.

[2020-11-20 08:14] little-dude commented on #38
Tokio has [`spawn_blocking`](https://docs.rs/tokio/0.2.11/tokio/task/fn.spawn_blocking.html) which spawns the task on a dedicated thread pool, so maybe we don't even need to do that ourself. As you said, if `mount` can hang the whole process, it's a whole different story though =/

[2020-11-20 10:19] gabrik commented on #38
I was also thinking that as `unshare` moves the current process into a separate namespace, thus it moves the caller into another namespace.
That may not be the desired behavior, at least not for us.
So I was thinking of using a `fork` and do the namespace stuff in another process and wait for this one to return a result.

Still thinking about the best way to do this

[2020-11-21 14:21] little-dude commented on #115
I can reproduce with this:

[code]

Full stacktrace:

[code]

[2020-11-21 14:55] little-dude commented on #115
So I don't think this is specific to `netlink-sys`. I think we're doing something wrong with tokio instead, because I can reproduce with the tokio `TcpListener`:

[code]

[2020-11-21 15:19] little-dude commented on #115
@mcr I got [an answer on Discord](https://discordapp.com/channels/500028886025895936/500336333500448798/779725398434119700). We need to call [`enable_all`](https://docs.rs/tokio/0.2.22/tokio/runtime/struct.Builder.html#method.enable_all) on the runtime builder.

[2020-11-21 15:19] #115 closed

[2020-11-21 17:48] little-dude commented on #105
Seems like porting `netlink-sys` is going to be easy: https://discordapp.com/channels/500028886025895936/627986131702644744/779763174437027870

We can just use [`AsyncFd`](https://docs.rs/tokio/0.3.4/tokio/io/unix/struct.AsyncFd.html) which was added in 0.3.2.

[2020-11-21 23:16] mcr commented on #115
So, just for those getting here by google search, etc, I think you are saying that it should be:

[code]

but, this doesn't compile.    The link to discord didn't identify a specific message, so maybe you could paste it in here?
I updated my test branch to include this code above, but it doesn't work.  I'd like to have it as an example, as this would be helpful to others too.

My get_links0 now co

[2020-11-23 09:49] ffmancera opened #119 "Tag a new release of netlink-packet-route"
Hello!

Nispor requires IPoIB support which has been implemented on #102. A new release would allow us to use it from Nispor, thank you!

[2020-11-24 10:54] cathay4t commented on #119
@little-dude Could you tag a new release?

[2020-11-25 21:35] little-dude commented on #119
Hi @ffmancera and @cathay4t,

Sorry very busy week. I'll try to do it tomorrow or Friday.

[2020-11-25 23:24] ffmancera commented on #119
@little-dude Sure, no worries! Thank you! :-)

[2020-11-27 19:03] little-dude commented on #119
0.6 released :)

[2020-11-27 19:03] #119 closed

[2020-11-28 11:20] mcr opened #120 "printing names of messages without full contents"
I have a loop where I'm processing some things from netlink:

[code]

If I {:?} print "payload", I get a full, deep decode of the message.  Which is cool, and I will probably want that, but for now I mostly just want to know what I'm missing.  If I print it like above, then I get the numeric message type that I'm skipping.
I'd like to get "InnerMessage(DelRoute(RouteMessage))" or some such, but no

[2020-11-28 11:26] mcr commented on #38
Hi, I have implemented some code that creates a network name space.  It first users fork(2) to create a child, and then the child creates the netns, and signals the parent that it's ready.  I have loops in the child to deal with netlink, and some in the parent.
I will be adding a second network space as well. (The first provides for overlay tunnels, the second provides for a VRF across those tunne

[2020-11-28 17:59] little-dude commented on #38
@mcr nice! I took a look at your code, but can't find where you actually create the namespace. Also, I don't know if you saw but @gabrik opened a PR to add this to `rtnetlink`: https://github.com/little-dude/netlink/pull/116

If you have experience with this kind of things we'd greatly appreciate your feedback.

[2020-11-28 18:06] little-dude commented on #120
Hey @mcr,

Indeed I haven't implemented `Display` on `NetlinkPayload`. I don't know if you we can _derive_ it though because it looks like this:

[code]

Deriving `Display` would require `I: Display` and don't want to add this trait bound. However, we could implement it manually.

[2020-11-29 18:26] mcr commented on #38
missing git push!
https://github.com/AnimaGUS-minerva/connect/blob/main/src/dull.rs#L198

[2020-11-29 18:28] mcr commented on #120
I can live with something manual.

[2020-12-01 09:53] gabrik opened #122 "Removing interface from bridge"
Hi,

It is possible to remove an interface from a bridge after we have assigned it?

Nowadays I can easily assign an interface to a bridge by doing like this:

[code]

But I see that in `set` there is nothing like `no_master()` that would be similar to `ip link set IFACE nomaster`.

So it is possible or it is something actually missing?

[2020-12-02 20:35] ffmancera opened #123 "Missing VXLAN properties and wrong type for IP addresses"
As reported in https://github.com/nispor/nispor/pull/95, I've found out that some VXLAN properties are missing, then we cannot report them from Nispor anymore. In order to fix this I am implementing the support. About the IP address on VXLAN (Local, Local6..) they are being reported as `u32` and `u128` which seems wrong in my opinion. To keep consistency with the whole project they should be `Vec<

[2020-12-07 10:00] ffmancera commented on #123
@little-dude I am also planning to add all the "Info*" for all the supported interfaces this week. I will create a single PR for each feature. So there is no need to release after merging :-)

Thanks!

[2020-12-07 10:14] little-dude commented on #123
@ffmancera @gabrik sorry for not keeping up here. Lots of things happening IRL, and I can't find the time/motivation to work on this library at the moment. If you don't mind, I sent you guys an invite as maintainers so that you can review and merge code. Long term, I'd love to have people helping with code reviews so that this project does not solely depends on the amount of time and energy I have

[2020-12-07 10:21] little-dude commented on #123
Regarding IP addresses in general, I'm wondering whether we should use `::std::net::IpAddr` or `[u8; 4]` and `[u8; 16]`. I don't remember the reason for choosing `Vec` when I started this library and retrospectively it seems a bit weird.

[2020-12-07 10:56] gabrik commented on #123
I used `[u8;4]` and `[u8;16]` just because I'm used to it and because it bounds the size of the IP addresses.
That said using `::std::net::IpAddr` and from there getting the octets should always work as I expect that the size is checked in the std library

[2020-12-07 11:08] little-dude commented on #123
Yeah arrays or `IpAddr` are equivalent, since `IpAddr` implements `From<[u8; 4]>` and `From<[u8; 16]>`, and `Ipv4Addr` and `Ipv6Addr` have the `octets()` method which return the array.

[2020-12-07 12:51] ffmancera commented on #123
I fully understand this. I will try to help you mantaining the library :-)

[2020-12-08 23:49] ffmancera commented on #123
I've found out another issue regarding dst_port property. #126

[2020-12-08 23:51] ffmancera commented on #122
I've looked at the code and it seems it is missing. If not missing we should document this.

[2020-12-09 07:56] gabrik commented on #122
I will check what `ip link set <iface> no master` does and I'll try to implement it.

[2020-12-09 09:25] ffmancera commented on #123
All issues fixed.

[2020-12-09 09:25] #123 closed

[2020-12-10 11:44] gabrik commented on #122
This comment is to keep track of the investigation.

From an `strace` on `ip link set <dev> nomaster`

I see this message sent to netlink.

[code]

Thus seems that is sufficient to set the IFLA_MASTER at 0 to remove the master

[2021-01-02 02:24] mcr opened #131 "do ip tunnel command equivalents belong here?"
"ip tunnel" operates by ioctl(). Annoying that it's still doing that.
Does it even belong in this library?

[2021-01-07 08:14] gabrik commented on #38
Done by #116

[2021-01-07 08:14] #38 closed

[2021-01-07 15:28] faern commented on #105
Tokio 1.0 is out and it probably only makes sense to upgrade directly to that and skip 0.3 entirely.

[2021-01-08 07:59] #122 closed

[2021-01-08 08:06] gabrik commented on #77
I really need this support, I can take care of the implementation.
Where I should add this code? Inside the `netlink-sys` crate?

[2021-01-08 08:24] little-dude commented on #77
`netlink-sys` already supports `smol` since https://github.com/little-dude/netlink/pull/104.

The biggest piece is actually `netlink-proto`, which uses tokio in some places. Ideally I'd like to re-write these portions with non tokio specific bits, but it's not so trivial and I've been postponing this refactoring for a long time. I'd love some help with this and will take time to review any PR. Bef

[2021-01-08 08:27] gabrik commented on #77
Sure, I'll take a look at the code to understand what the code does and I'll come back with more thoughts on this.

[2021-01-08 08:37] little-dude commented on #77
It's not too bad actually. I think we only use use `tokio_util::codec::{Decoder, Encoder};` so we could just depend on `tokio_util` with the `codec` feature. Beyond this, we also need to change this in lib.rs:

[code]

Maybe we can add a `smol` or `async_std` feature flag and choose another socket if compiling with that flag. By default we'd still compile with tokio support. Would that be fine? I

[2021-01-08 08:44] gabrik commented on #77
That is correct, other crates usually use features to select the async framework.
I guess that just depend on `tokio_util` and then depending on the feature we use `tokio` or `async_std`, with `tokio` as the default feature.

I also think that this feature should be re-exposed also by the creates that depend on `netlink-proto` in order to allow the user to select the one he needs.

[2021-01-17 21:07] little-dude opened #138 "netlink-proto: if messages are never acknowledged, the `Protocol.pending_requests` keep growing"
There should be an option to set a timer to remove pending requests.

[2021-01-17 21:10] little-dude opened #139 "netlink-proto: handle `ENOBUFS` errors"
To quote the man(7):

Currently `NetlinkFramed` will just log the error and continue, not letting the user handle the error

[2021-01-17 21:21] little-dude opened #141 "netlink-proto: refactor"
This is just a couple notes to myself regarding some `netlink-proto` simplifications I've been contemplating for a while:

- have a distinct codec for the audit protocol, instead of using feature flags
- don't use the tokio codec trait? They force us to copy the data in intermediate buffers, which most of the time we don't need (unless we read multiple datagrams at once, like with the audit protoc

[2021-01-18 17:39] idanski commented on #139
I actually encountered this with audit recently!
So I'm very interested in this feature, was thinking of suggesting someway to handle it but didn't got around to it.

Let me know if I can help somehow. :pray:

[2021-01-18 19:12] little-dude commented on #139
Oh, sorry that you ran into it. I think at the moment, the only way around it is not to use `netlink-proto` to be honest. I'm not exactly sure how I'm going to tackle this yet, because this issue also relates to the refactoring I mentioned in https://docs.rs/tokio/1.0.2/tokio/io/unix/struct.AsyncFdReadyGuard.html#method.clear_ready

Would you mind explaining in more detail what you're doing to tri

[2021-01-19 08:34] idanski commented on #139
sure no problem.

recreating this is not easy but I ran audit in multicast mode + enabled other products that listen on auditd.
on some machines the multicast socket sometimes received ENOBUFS and the stream was indeed consumed.

To test I forked your repo and ignored ENOBUFS, printing a log instead and I saw it was working well + logs were printed.
I thought maybe the correct way of handling it w

[2021-01-19 19:58] mxpv opened #142 "Make a release"
I'd like to get this crate in kata-containers project (https://github.com/kata-containers/kata-containers/pull/1297), would it be possible to make a new release after https://github.com/little-dude/netlink/pull/134 https://github.com/little-dude/netlink/pull/135 https://github.com/little-dude/netlink/pull/140 ? Those do backward incompatible API changes and deserve a release. Thanks in advance.

[2021-01-20 18:41] #105 closed

[2021-01-20 18:49] little-dude commented on #142
Working on it.

[2021-01-20 19:17] little-dude commented on #141
Also noticed that we need to upgrade to newer `tokio-utils` and `bytes` versions.

[2021-01-20 19:25] #142 closed

[2021-01-20 19:25] little-dude commented on #142
Done!

[2021-01-20 19:30] mxpv commented on #142
Thanks a lot!

[2021-01-20 19:46] little-dude commented on #64
Closing since it's unclear whether there's really a bug.

[2021-01-20 19:46] #64 closed

[2021-01-20 19:48] #25 closed

[2021-01-20 19:49] little-dude commented on #5
This has been implemented for a while now.

[2021-01-20 19:49] #5 closed

[2021-01-23 14:46] jamesmcm opened #145 "LinkGetRequest never returns any links in new network namespace"
Hi,

I'm trying to use the rtnetlink crate in [libvopono](https://github.com/jamesmcm/libvopono) to handle what are currently `ip addr` and `ip link` calls inside the created network namespaces in [vopono](https://github.com/jamesmcm/vopono).

Specifically I want to do the equivalent of:

[code]
in the new network namespace.

I followed [this example code](https://github.com/little-dude/netlink/bl

[2021-01-23 15:15] little-dude commented on #145
Hello!

Thanks for taking the time to write a detailed issue. Would you mind also specifying what version of the netlink crates you're using? Also, running the program with `strace` or capturing the netlink packets with `nlmon` as explained [in this blog](https://jvns.ca/blog/2017/09/03/debugging-netlink-requests/) may be useful.

Yes:

- namespace support has been implemented very recently
- hand

[2021-01-23 15:18] little-dude commented on #145
Oh btw, nice summary you've wrote here: https://github.com/jamesmcm/vopono/issues/49 :)

[2021-01-23 15:28] jamesmcm commented on #145
Thanks! Here is the strace output btw: https://gist.github.com/jamesmcm/68be8101c0a6cbe6f45a3e56fc6a903e

From `sudo -E strace -s 256 -f -o out -x ./createns`

I'll try out `nlmon` too.

That issue regarding namespaces is really useful, I'll try running strace on `ip netns exec netns ip addr add 127.0.0.1/8 dev lo` too for a comparison.

For my namespace creation I use the bind mount trick to keep

[2021-01-23 20:43] jamesmcm commented on #145
Fixed by the way, the network namespace part was all fine, in the end it was just the call to `rt.spawn(connection);` missing :man_facepalming:

See https://github.com/jamesmcm/libvopono/commit/460aa4ae244b7f34d0b6ff359d0231951f484183

Incidentally, it'd be nice to have a synchronous form (maybe feature-gated) of the crate that didn't depend on Tokio / async runtimes, a bit like Rusoto used to do.

[2021-01-23 20:43] #145 closed

[2021-01-23 21:00] little-dude commented on #145
Glad that the issue was solved.

It's a good idea. It may be possible. Most of the logic in `rtnetlink` consists in building the messages. We could maybe have a synchronous `Connection` object. Feel free to open an issue.

Glad you like it :)

[2021-02-09 20:20] little-dude opened #149 "Make a release"
Just to keep track of the PRs I want to merge for this release:

- [x] https://github.com/little-dude/netlink/pull/147
- [x] https://github.com/little-dude/netlink/pull/146
- [x] https://github.com/little-dude/netlink/pull/137
- [x] https://github.com/little-dude/netlink/pull/130

[2021-02-24 12:30] Tim-Zhang commented on #149
@little-dude How is this going?

[2021-04-15 06:43] Tim-Zhang commented on #149
@cathay4t

[2021-04-16 14:21] rednexela1941 opened #158 "Is it possible/how would I configure an IP address without using tokio?"
partially a note to self for later (feel free to close), unless you know off the top of your head / have an example. My project has it's own event loop, so looking to embed the rtnetlink stuff inside of there without causing massive changes + additional (tokio) dependencies.

[2021-04-23 19:00] yshui opened #160 "payloads of NLMSG_DONE messages are not accessible"

[2021-04-29 08:47] little-dude opened #161 "Maintenance and crates.io access"
Hello,

I haven't had time to correctly maintain these crates lately. This may change in future, since my current employer may start using these crates, and I may be able to get some time to work on them :crossed_fingers:.

In the meantime, are there people willing to help with the releases? I'm currently the only one with crates.io credentials but I have not time to dedicate to this at the moment

[2021-04-29 22:41] JohnTitor commented on #161
I'm happy to help it, we'll make a new release once all the TODOs in #149 are done, right?

[2021-05-05 14:29] little-dude commented on #160
Yeah. You mean in `netlink-proto` right? IIRC I did that on purpose. What problem does that cause exactly?

[2021-05-05 14:30] little-dude commented on #158
If you're using `rtnetlink` no, because it's based on `netlink-proto` which uses tokio. But you can use `netlink-sys` and `netlink-packet-route` directly.

I hope that some day we can have a `netlink-proto` crate that is runtime agnostic. But I don't have time to work on this atm.

[2021-05-05 14:43] gabrik commented on #158
Well actually it is runtime agnostic, you just need to configure the features, but indeed it needs an async runtime.

[2021-05-05 14:48] rednexela1941 commented on #158
Cool, thanks guys!

[2021-05-05 14:48] #158 closed

[2021-05-12 13:16] Tim-Zhang commented on #161
@little-dude I'm willing to help it too, anyway @little-dude @JohnTitor @cathay4t  we should advance this project and release the new version ASAP.  thank you.

[2021-05-21 08:43] Gilnaa opened #163 "MIO Integration"
Hey,

The README.md says that there's optional `mio` integration, but it doesn't look like anything implements `mio::event::Source`.

Would you mind if I send a PR adding this impl? (hidden behind a cfg, of course)

[2021-05-21 13:24] Gilnaa commented on #163
Went ahead and opened a PR since it's small enough:
https://github.com/little-dude/netlink/pull/164

[2021-06-06 10:20] stbuehler commented on #120
There is a difference between requiring `I: Display` for all instances or just for the `Display` implementation; you could drop all trait requirements for `I`, and `#[derive(..)]` would implement the derived traits conditional on whether `I` implements them too.

[2021-06-13 20:29] benjumanji commented on #161
@little-dude thanks for all the work you put into this crate to get it off the ground. I do rely on this crate for some projects of mine and I'd be happy to help push along releases etc.

[2021-06-14 00:07] #163 closed

[2021-06-15 11:53] little-dude commented on #161
@Tim-Zhang  @benjumanji can you send me you crates.io usernames, so that I add you to as owner to the netlink crates?

[2021-06-15 11:53] little-dude commented on #161
also @cathay4t if you want

[2021-06-16 04:33] benjumanji commented on #161
@little-dude my crates user name is this github account, @benjumanji. Thanks!

[2021-06-18 09:14] little-dude commented on #161
@benjumanji you should now have invites for:

- https://crates.io/crates/audit
- https://crates.io/crates/rtnetlink
- https://crates.io/crates/netlink-packet-route
- https://crates.io/crates/netlink-packet-core
- https://crates.io/crates/netlink-proto
- https://crates.io/crates/netlink-sys
- https://crates.io/crates/netlink-packet-utils
- https://crates.io/crates/netlink-packet-audit
- https://cra

[2021-06-18 09:16] little-dude commented on #161
@JohnTitor @cathay4t @Tim-Zhang please send me you crates.io handle if you want to have write access as well. I think it's better if at least two active contributors have access.

[2021-06-18 09:20] JohnTitor commented on #161
@little-dude I'd like; this is my account: https://crates.io/users/JohnTitor

[2021-06-18 09:30] little-dude commented on #161
Done :)

[2021-06-27 19:45] mcr commented on #149
Hi, what's on crates.io does not use tokio-util 0.6, see: https://crates.io/crates/netlink-proto/0.6.0/dependencies which shows tokio-util 0.2.0, which sucks in tokio 0.2, which leads to disaster.
Maybe the wrong code was released?

[2021-06-27 22:05] JohnTitor commented on #149
@mcr Note that #147 hasn't been released yet. It should happen once we're ready, i.e., the TODOs are done.

[2021-06-28 07:29] little-dude commented on #149
I don't think we _really_ need to wait for #146 to make a release tbh.

[2021-06-28 08:27] JohnTitor commented on #149
I agree but the failure can be fixed easily. I've pushed a commit with a tweak, I'll merge it once CI becomes green.

[2021-06-28 08:33] JohnTitor commented on #149
@little-dude Do you have some notes about the release process, e.g. in what order should we release the crates?

[2021-06-28 08:41] JohnTitor commented on #149
And #150 may be worth including in the next release.

[2021-06-28 12:47] Tim-Zhang commented on #161
@little-dude My crates.io account is Tim-Zhang, https://crates.io/users/Tim-Zhang, thanks.

[2021-06-28 19:52] little-dude commented on #149
No I haven't. Let me do this one and take some notes. It's not so easy because crates need to be published in a certain order due to dependencies.

[2021-06-28 20:35] little-dude commented on #149
Working on the release but I'm going to bed. I'll finish first thing tomorrow morning and publish the notes.

[2021-06-29 08:11] little-dude commented on #149
Done: https://github.com/little-dude/netlink/pull/171

[2021-06-29 08:11] little-dude commented on #149
Here are some notes about releases :)

First, I distinguish three groups of crates:

- `netlink-packet-*` crates
- `netlink-sys`
- `netlink-proto`, `audit` and `rtnetlink`, which depend on the the two other groups

I usually start by bumping the versions of the first group of crates,
then `netlink-sys`, and then the last group of crates.

For the record here are the dependency tree for each group.

[2021-06-29 08:11] #149 closed

[2021-06-29 09:50] JohnTitor commented on #149
Thanks, @little-dude for the write-up! One suggestion is to have CHANGELOG.md on each crate, determine if a PR is a semver-patch, minor, or major change, then add an entry there so that we don't have to check `git log` but just to see the changelog (or, "major or not" is enough here since the crates' versions here are all 0.y.z).
This would make the review process longer sometimes but we cannot mi

[2021-07-13 14:46] dlon opened #173 "The `workaround-audit-bug` feature is always set"
We've been seeing this warning logged by `netlink-proto` since upgrading the `rtnetlink` crate to version 0.8:

This is without using the audit protocol at all.

The packet header length is never modified in our case, so it has no real effect other than to log the above.

[2021-07-13 22:14] JohnTitor commented on #77
Implemented by #144.

[2021-07-13 22:14] #77 closed

[2021-07-26 23:09] #173 closed

[2021-08-02 08:42] cathay4t commented on #161
@little-dude My crates.io account is cathay4t https://crates.io/users/cathay4t

[2021-08-24 10:08] lu-zero opened #179 "kobject_uevent support in netlink-proto"
kobject_uevent messages do not seem to have a netlink header, would be acceptable to add a different Codec and wire it in automatically on `Connection::new()` ?

While at it audit could have its stand alone codec as well.

[2021-08-24 11:08] lu-zero commented on #179
I drafted a way to implement it. The parsing of the actual message is omitted.

[2021-09-12 19:16] jamesmcm opened #181 "Why is the route table index limited to u8 in RouteAddRequest?"
The `table` method of `RouteAddRequest` accepts only a u8 ID, but from the `ip route` manpage it seems a `u32` should be accepted?

Is there a reason why this only accepts u8? I'm not an expert on Linux networking at all, I was just trying to convert some scripts and unfortunately they used higher table indices.

[2021-09-16 04:16] Leo1003 commented on #83
The generic netlink support #153  is merged into master. It is one step away from using it through crates.io

[2021-10-19 17:04] Tuetuopay opened #192 "Incorrect VXLAN port endianess"
During serialization, the VXLAN port is serialized using the host endianess, which is incorrect as netlink uses network endianess, which is big endian. This breaks on little-endian architectures, such as x86.

Example on x86 (handle setup omitted):

[code]

will result in a vxlan interface with a dstport of 46354, which is 4789 with the two bytes swapped:

[code]

Interesting this is, parsing is d

[2021-11-23 08:07] cathay4t opened #201 "Add a CI task for checking whether each source file contains SPDX-License-Identifier"
Please check https://github.com/little-dude/netlink/pull/197#issuecomment-974771042 for detail

[2021-11-28 18:59] little-dude commented on #83
This is now available on crates.io: https://crates.io/crates/netlink-packet-generic

[2021-11-28 18:59] #83 closed

[2021-11-28 19:07] little-dude commented on #181
Hey @jamesmcm

Sorry for the late reply.

According to the [rtnetlink man page](https://www.man7.org/linux/man-pages/man7/rtnetlink.7.html) this is indeed an u8 (for historic reasons I guess):

[code]

However, as you said it's not unusual to have higher table IDs. To do that, you need to use an extra attribute:

[code]

This corresponds to the [`netlink_packet_route::rtnl::route::nlas::Nla::Table

[2021-11-28 19:10] little-dude commented on #161
I believe this can be closed now. Thank you everyone!

[2021-11-28 19:10] #161 closed

[2021-11-28 19:11] little-dude commented on #28
The `netlink-protos` unsafe has been removed and I'm quite confident in the `netlink-sys` ones so I'm going to close this.

[2021-11-28 19:11] #28 closed

[2021-11-30 00:04] Tuetuopay commented on #139
I so happen to be hitting this too, I'm working on working around it. If you need some way to reproduce it, it's very easy to trigger it by adding a lot of neighbours to a link, and deleting it:

[code]

I'm using a single-threaded Tokio runtime to accentuate the effect, but it still triggers on the multi-threaded runtime (which actually helps since I'm spawing the `conn` futures in a new task).

[2021-11-30 08:04] dzamlo opened #209 "netlink-proto: let the user handle non-solicitated message in a more flexible way"
Currently, all unsolicited messages are sent to an unbounded channel. That's not always the best options. `netlink-proto` would be more flexible if the user was able to pass an async "callback" to handle them.

Some errors (like ENOBUFS #139 ) could be handled in a similar  way.

[2021-12-19 09:06] little-dude commented on #209
I like the idea. Perhaps a via a trait rather than a closure? That will be quite a breaking change though.

[2021-12-19 09:33] little-dude commented on #209
Thinking about this a bit more, I'm less convinced.

This issue with an async handler is that we either need to spawn a task every time the handler is called, or create a future that we poll from within the connection.

Spawning a task may have a cost, if we receive a lot of messages. It also means that we must pick a runtime. Creating a future that we store in the connection comes with some compl

[2021-12-19 09:37] little-dude commented on #209
A synchronous handler would probably allow more flexibility, but then if the user passes in a handler that blocks, our connection will get stuck.

[2021-12-19 09:52] dzamlo commented on #209
But the library already make a decision: stuffing the messge in an unbounded queue with no backpressure. This means that the library  has to make a descision and I believe the current  choice is maybe not optimal.

But I don't know enough about the lowlevel details of async to really have an idea of what is the best solution. Only that it should likely be more flexible.

[2021-12-19 09:59] little-dude commented on #139
So I'm starting to think that the current behavior is not _too_ horrible: the socket goes out of thing, so we close the connection. But yeah, we should at least give the option _not_ to do that.

I think the caches technique is a bit complex to implement, and I'm afraid it'll be protocol dependent.

The two suggestions that remain are:

- propagating the error through the stream of unsolicited mes

[2021-12-19 10:09] little-dude commented on #209
Fair enough.

I think the most flexible would be a synchronous closure but as I said, this could also be a footgun because it could block the connection.

I'd like to get more input on this.

[2021-12-20 10:21] Tuetuopay commented on #139
The current behaviour is definitely workable, if inefficient. The way I'm currently working around this issue is by having my own intermediate task that forwards messages to my own stream, and that constantly reopens a socket when it "closes".

I do agree on the cache, it's a bit too involved. I think it can be done, but I don't have the bandwidth right now to do it. I only mentioned it as "in a p

[2021-12-27 20:32] mcr opened #215 "why is socket_mut() repeated?"
https://github.com/little-dude/netlink/blob/2b7ae364566b1ed6c0a973a1b6dd044ff2ddf28f/rtnetlink/examples/listen.rs#L27

Is this a typo?
Or is there a reason for this?

[2021-12-27 20:47] mcr commented on #215
In my code, which did:

[code]

1. bind() was no longer valid.
2. if I added the second socket_mut(), this worked only if also did:

[code]

rather than just SocketAddr.  I don't use AsyncSocket directly, but adding that allowed socket_mut() to be called twice.

[2022-01-05 18:17] mcginty opened #224 "`netlink-packet-wireguard`: SetDevice serialization issues"
While GetDevice and parsing works great, SetDevice encounters `Invalid argument (os error 22)` whenever the `WgDeviceAttrs::Peers` attribute is present.

It seems like there's probably some discrepancy in the encoding of the peer list - it generates an unparseable netlink message:

Example code:
[code]

[2022-01-15 23:50] lights0123 opened #227 "Support for link slave info"
Currently, slave links are just returned as raw bytes:

https://github.com/little-dude/netlink/blob/5c1efa5758fe1e562a9317b22c22419ff6461f66/netlink-sys/src/packet/rtnl/link/nlas/link_infos.rs#L35-L36

These should be decoded just like master links. The bridge slave info can be printed currently with:
[code]
An example of the data it produces:
[code]
These constants can be uncommented here:
https:

[2022-01-16 09:02] #224 closed

[2022-01-18 04:47] mcginty opened #228 "API nit: standardize plurality of enums"
Looking through the codebase I see a couple examples of enums where some are plural (`FooAttrs`) and some aren't (`FooAttr`):

[code]

Might be good to settle on one in future breaking change updates (it looks like most projects choose the plural version).

[2022-01-24 23:04] mraerino opened #230 "Allow access to Ack messages containing data"
When implementing the [W1 Netlink](https://01.org/linuxgraphics/gfx-docs/drm/w1/w1-netlink.html) adapter (uses `NETLINK_CONNECTOR`) i ran into this issue:

Responses to requests are send with the `message_type` set to `0x3`. Therefore as responses arrive, the `NetlinkPayload` enum will be set to `Done` and any payload attached to the message is thrown away.

Do you think there is a good way to mod

[2022-02-12 15:25] mraerino commented on #230
@little-dude any guidance here?

[2022-02-12 17:17] little-dude commented on #230
Hello @mraerino :)

To be honest I don't know, really. I didn't expect these messages to have a payload.

## Option 1

Make the payload of Done messages a `Vec<u8>`:
[code]
But then users have to do the parsing themself. Not ideal

## Option 2

We could make the messages generic over the payload of the `Done` message:
[code]
This is a very drastic API change though...

## Option 3

Have a generic

[2022-02-12 17:21] little-dude commented on #228
This is a good idea in theory, but in practice this is a breaking change which will force users to update their code for no gain in terms of features or bug fixing. For the record:

[code]

[2022-02-12 17:37] little-dude commented on #215
This is confusing I agree. In `connection.socket_mut().socket_mut()`:

- the first call is a call to `netlink_proto::Connection<_, S, _>::socket_mut()`, which returns the connection's socket `S`. Note that `S` implements the `AsyncSocket` trait
- the second call is a call to `netlink_sys::AsyncSocket::socket_mut`, which returns the actual socket object. If you're using `tokio` that's gonna be `net

[2022-02-17 18:33] uprhst opened #236 "Cannot create VxLan interface with IPv6 local address, underlying enum variant is IFLA_VXLAN_LOCAL instead of IFLA_VXLAN_LOCAL6"
During my attempts to setup a vxlan interface with ipv6 local address I stumbled upon netlink errors where the payload message had Local([bytes here]) instead of Local6([...]).

Tracked it down to the code below, where IFLA_VXLAN_LOCAL should be IFLA_VXLAN_LOCAL6 for the Local6() enum variant.

https://github.com/little-dude/netlink/blob/18c8289a2e0feb7099114bde9c1a8e282eba5b8c/netlink-packet-rout

[2022-02-20 17:01] #236 closed

[2022-02-20 19:00] little-dude commented on #120
I'm going to close this since there has been no update for a while, and because I don't think there's a clear path forward.

[2022-02-20 19:00] #120 closed

[2022-02-20 19:01] little-dude commented on #94
I believe these have all been implemented in `netlink-packet-route` now. Multipath requires `rich-nlas` though.

[2022-02-20 19:01] #94 closed

[2022-02-20 19:02] little-dude commented on #107
No point in keeping this open. Most the netlink crates do lack documentation unfortunately, but I don't think keeping an issue open about it will improve things.

[2022-02-20 19:02] #107 closed

[2022-02-26 01:57] hugo-cuenca opened #242 "mio integration compile error: the trait bound `netlink_sys::Socket: Source` is not satisfied"
Compile error
[code]

`Cargo.toml`:
[code]

Test:

[code]

Am I missing something?

[2022-02-26 02:37] hugo-cuenca commented on #242
Figured it out: I'm using mio 0.8 while `netlink-sys` uses mio 0.7. Is there a specific reason you wish to stick with 0.7?

In the meantime I'm making a pull request to bump the mio version.

[2022-03-06 03:43] DieracDelta opened #244 "No error on failure to parse TcOpts"
If the TcOpts fail to parse in one of the qdiscs [here](https://github.com/little-dude/netlink/blob/master/rtnetlink/src/traffic_control/add_qdisc.rs#L190), the entire qdisc is skipped. I see the error being generated with the `.context()` in the `parse` function for `TcOpt`, but for some reason it's not making its way back up to the stream. Any advice on how to access the errors without dropping

[2022-03-06 15:04] little-dude commented on #242
No, I'm just not looking actively for new releases.

Thanks for the MR to fix this :)

[2022-03-06 15:04] #242 closed

[2022-03-06 17:18] little-dude commented on #244
Hello @DieracDelta

This is a problem I'm aware of but don't have time to dedicate to properly fix. There are actually two problems:

- first the fact that we fail to parse messages. This may be due to a bug, but this may also be due to the fact that on some platforms, messages have slightly different format. Here is the issue about it: https://github.com/little-dude/netlink/issues/44. This is a d

[2022-03-15 09:39] wllenyj commented on #244
Hi, @little-dude

Is it possible to release a new version before you AFK?

[2022-03-18 08:11] little-dude commented on #44
FWIW it seems that the current best solution is to use different features for difference kernels: https://users.rust-lang.org/t/defining-custom-cfg-predicates/72610/4

[2022-03-18 08:17] little-dude commented on #244
Sorry, @wllenyj I didn't manage to find time do it. The last two weeks have been crazy at work, and I spent the little free time I had to help out some of the many Ukrainians refugees who are arriving in Berlin.

[2022-03-20 14:36] wllenyj commented on #244
@little-dude Wow, It's so cool.
Thank you for what you are doing with Uncharted.
Can @ me know if you can find the time to do it.

[2022-03-21 01:48] cathay4t commented on #44
The Debian 9 is not supported any more as stated by https://www.debian.org/releases/stretch/
I don't see a point of support its kernel. Something not working in Debian 9 is not a good reason here.

[2022-03-24 15:35] rkuhn opened #248 "extremely verbose DEBUG logging"
Since a recent libp2p update that introduced the rtnetlink dependency (via `if-watch` 1.0.0, updated from 0.2.2), there has been very high rate DEBUG logging generated (at more than 10kHz frequency):
[code]
Is this indicative of a problem? Would it be unreasonable to ask such frequent logging to be relegated to TRACE level?

[2022-03-24 15:42] rkuhn commented on #248
Here’s one of those poll invocations with TRACE logging:
[code]

[2022-03-24 18:47] rkuhn commented on #248
Further digging:

- there are actually three instances of IfWatcher in my process, all polled at the same high rate
- one is created by libp2p-dns, the other two by libp2p-tcp
- I haven’t yet been able to find out who causes the polls, so netlink might just be a symptom — any suggestions on how to narrow this down?

@mxinden? @dvc94ch?

[2022-03-25 09:15] rkuhn commented on #248
I’ve narrowed it down to the libp2p update 0.41.1 → 0.42.2.

[2022-03-25 09:44] dvc94ch commented on #248
does look like something is wrong. I guess first thing would be reproducing it using just if-watch using the example and then probably file a proper bug report here once the exact cause has been identified. The if-watch code for linux is <100 loc.

[2022-03-25 11:32] rkuhn commented on #248
if-watch example doesn’t get into the infinite poll loop state, but it does this:
[code]
I can’t see yet why the IfWatcher is polled thrice, even though it clearly did return Pending.

[2022-03-25 11:44] rkuhn commented on #248
Debugger shows that futures-executor says after first Pending that the thread was notified and polls again, then after the next Pending `thread::park()` immediately returns, then after the third Pending `thread::park()` actually parks the thread. It seems that something is invoking the Waker.

[2022-03-25 11:56] rkuhn commented on #248
Further investigation shows that the Waker is not invoked outside the actual netlink responses, so this is very likely a bug in some other crate, closing here. (smoking gun: as I read it, a single wakeup in futures-executor will usually poll at least twice)

[2022-03-25 11:56] #248 closed

[2022-04-10 17:35] stbuehler commented on #230
How about option 2 with a default for `D` that ignores all data, i.e. a `#[derive(Debug, PartialEq, Eq, Clone)] struct IgnoreDropData;` and `pub enum NetlinkPayload<I, D=IgnoreDropData> {...}`? I think (or at least hope) that wouldn't even break the API.

[2022-04-10 17:39] stbuehler commented on #160
I think this can be closed in favor of #230 (although the #230 title doesn't mention DONE explicitly)

[2022-04-25 15:45] stbuehler commented on #230
Actually, modifying the `Done` variant still will break the API, but with a default for the type parameter it should be easier to migrate - basically `Done(_)` in patterns and `Done(Default::default())` when creating the variant. And my own code doesn't seem to use the variant anyway, so maybe most users won't need to change anything.

I don't like Option 3 (although it would have a similar "get i

[2022-05-05 01:21] jordanisaacs opened #255 "netlink-sys: Async sockets don't return bytes received"
Is there a reason async sockets don't return the bytes received when calling `recv` using the extended traits? See the [here](https://github.com/little-dude/netlink/blob/6c44903aefd60e9e6452fabd0f901112e5d55dd3/netlink-sys/src/async_socket_ext.rs#L34).

I am trying to adapt this [code](https://github.com/tonarino/innernet/blob/a6c918a581bc66824ca29e6c84be902f995d9726/netlink-request/src/lib.rs#L11

[2022-05-05 08:31] stbuehler commented on #255
See https://docs.rs/netlink-sys/0.8.2/netlink_sys/trait.AsyncSocket.html#tymethod.poll_recv

You probably should just use [`bytes::BytesMut`](https://docs.rs/bytes/1.1.0/bytes/struct.BytesMut.html), as is done in the [audit netlink-sys example](https://github.com/little-dude/netlink/blob/master/netlink-sys/examples/audit_events_tokio.rs#L55-L58).

The idea is that you need a "buffer type" that kno

[2022-05-05 11:54] little-dude opened #257 "Stepping down as a maintainer"
Hello,

Due to a pretty time consuming job and several life projects, I just don't have time to maintain these crates. I've let PRs accumulating for a while now and I'd like to apologize to the people who have been waiting for a review from me.

I'm not sure what to do from now. Are there people to take over? Should I create an organization and transfer the repo?

Again, sorry for letting issues a

[2022-05-05 12:04] little-dude commented on #257
Ping @benjumanji  @JohnTitor @cathay4t  since all three of you have crates.io access.

[2022-05-05 12:13] JohnTitor commented on #257
I'm personally in favor of creating an org, it'll make it easier to manage collaborators and the repo.

[2022-05-05 16:50] jordanisaacs commented on #255
Ah that makes sense. I saw the comment about the buffer advancement but didn't understand how I could retrieve the information. So from my understanding this would be the preferred version:

[code]

[2022-05-05 18:50] stbuehler commented on #255
Not quite sure whether I'd trust offset not to grow beyond `buf.len()` - I'd probably check `offset >= buf.len()` instead, but looking good regarding the buffer handling otherwise, yes.

[2022-05-05 21:25] jordanisaacs commented on #255
Great thanks for the help!

[2022-05-05 21:25] #255 closed

[2022-05-07 08:47] stbuehler commented on #138
I'd prefer a solution that unregisters requests when the receiver is dropped. Both solutions could be resulting in old messages turning up in newer response channels, but timers seem way more complicated and dangerous to me. Maybe there is a way to slow down requests when the sequence id gets cycled too fast?

And #209 should probably get fixed before, because removing requests means there is a hi

[2022-05-07 09:02] stbuehler commented on #209
I think a breaking change is appropriate.

I think it would be good to have:
1. a way to handle multicasts (usually with `sequence_number == 0` I think?)
2. a way to handle unexpected responses (`sequence_number != 0` ?) - I think this deserves a different handler, especially once #138 gets fixed; they should not turn up as "multicast events"
3. a way to handle various errors (decode, encode, ENOB

[2022-05-12 02:28] qingyunha opened #261 "message with type NLMSG_DONE can also have payload"
[code]
The above is an example of NETLINK_CONNECTOR group cn_proc message. It has a payload but ignores parse.

https://github.com/little-dude/netlink/blob/f21ddb223b311e2a6ed23a1b55de8732c3d569a5/netlink-packet-core/src/message.rs#L112

[2022-05-12 06:14] stbuehler commented on #261
Duplicate of #160 and #230 (discussion mostly in #230).

[2022-05-18 09:45] flyflypeng opened #262 "add vlan failed when vlanid > 2063, return Received a netlink error message Numerical result out of range (os error 34)"
I write a simple program for adding vlan for veth device. However, when vlan id > 2063, the execute result return Received a netlink error message Numerical result out of range (os error 34) error message.

My simple program code:
[code]

crate version:
[code]

[2022-05-24 08:30] flyflypeng commented on #262
I update rtnetlink crate version to `0.9.1`, this piece of code is working, VLAN link is added as expected.

[2022-05-24 08:30] #262 closed

[2022-05-29 11:51] JohnTitor commented on #257
Monorepo has some benefits e.g. being able to upgrade stuff at once, so I'm not sure if it's really necessary 🤔 (we could discuss later)

@little-dude If you're okay to create an org but are busy, I'm happy to do it instead, let me know.

[2022-06-15 10:25] #201 closed

[2022-06-29 13:30] Luap99 opened #273 "rtnetlink: LinkDelRequest broken on kernel v5.19"
The LinkDelRequest sets the following flags: https://github.com/little-dude/netlink/blob/15324923e655a5c786a23cbe88b5d523c46a2f3b/rtnetlink/src/link/del.rs#L39

From `netlink(7)`: NLM_F_EXCL and NLM_F_CREATE are only valid for NEW requests.
The problem is that kernel 5.19 added a new DELETE flag NLM_F_BULK which has the same value as NLM_F_EXCL, so now the delete requests fail with EOPNOTSUPP.

He

[2022-07-11 14:58] #273 closed

[2022-07-15 16:39] pdtilton opened #277 "LinkGetRequest using Nla::NetNsFd does not list interfaces in a namespace"
Using Nla::NetNsFd does not seem to work with LinkGetRequest, but it does work with LinkSetRequest.  Is there a supported method for getting all interfaces in a specific network namespace without moving the process into the namespace?

For my test case I added a namespace and create a device within that namespace.

[code]

The following snippet first gets the links in the root namespace, then atte

[2022-08-11 09:54] Tim-0731-Hzt opened #284 "LinkAddRequest: Allow adding macvtap on a link"
add support to create MACVTAP on a link

[2022-08-17 10:20] jm-observer opened #286 "can't get the messages's data"
when i try to receive the messages form Kernel,  it return the right size, but didn't to write the data to buf. and i change netlink-sys's version("0.8.3")  to "0.7", it does work.
[code]
the output:
[code]

[2022-08-19 03:21] Trojanking123 opened #287 "how to use it a sync way"
I don't want use async in my env. i want to offer a sync api to other part of the program.
As i see the examples dir is all most async expamples, is there any sync examples ?

[2022-08-24 01:36] #284 closed

[2022-08-25 15:54] Tuetuopay opened #289 "veth: name and peer name swapped"
When creating a veth pair, the name and the peer name are swapped.

The odd thing is the sources actually contain a comment about it being swapped: https://github.com/little-dude/netlink/blob/master/rtnetlink/src/link/add.rs#L568.

I don't know if it's supposed to counter something from the kernel or not, but on the latest library version, with the latest kenel, those are indeed swapped.

# Reprod

[2022-09-04 09:17] AkiSakurai opened #291 "There's"
There's no `_trashDirectory;`

[2022-09-04 09:57] #291 closed

[2022-09-07 04:03] wllenyj commented on #287
I have tried the same, and #61 may help you.

[2022-09-14 19:55] jagenheim commented on #286
Same here. The buf sent to recv is never modified, seems the correct length is returned though.

[2022-09-14 20:48] stbuehler commented on #286
The API was changed to take a `bytes::BufMut` (as mutable reference ofc); the `bytes::BufMut` implementation for `Vec<u8>` appends at the end, so you should only reserve but not actually fill the vector. Or use `bytes::BytesMut` instead of `Vec<u8>`.
The returned "length" should only be used with `MSG_TRUNC` in the flags to handle  "actual lengths" of the data (to reserve the buffer with the appro

[2022-09-16 02:50] jm-observer commented on #286
ok, when change the code as follows, it can now receive the message correctly. Thanks!
`    let mut buf = BytesMut::with_capacity(1024 * 8);
`
or
`let mut buf = Vec::with_capacity(1024 * 8); `

[2022-09-16 02:50] #286 closed

[2022-09-28 09:18] jimmyvanhest opened #292 "Connection awaiting to cleanup all used resources"
When playing around with this library I noticed some behavior I was not expecting.

When the handle and messages returned by rtnetlink::new_connection are dropped, I would expect that an await on the connection returned by that same call would resolve.

But what actually happens is that the await on the connection blocks till the next time it receives IO from netlink and then completes because onl

[2022-10-03 00:29] cathay4t commented on #257
organization +1
Each crate into a separate repo +1

[2022-10-03 00:32] cathay4t opened #294 "rtnetlink: The `set_link_index_filter` can be done at kernel space"
BY removing the `NLM_F_DUMP` and set the `AddressHeader.index`, we can do the filter at kernel space instead of current user space.

I will do the work. Just need a link o reference and tracking.

[2022-10-04 23:38] cathay4t commented on #257
Since this project is been used by `nispor`, `nmstate` and `podman-netavark` which are all sponsored by Red Hat, I could put some of work hours to maintain this project.

[2022-10-05 06:58] little-dude commented on #257
https://github.com/netlink-rs is taken unfortunately. `netlink-rust` perhaps?

Oh that'd be awesome :)

[2022-10-05 08:03] JohnTitor commented on #257
👍, either `netlink-rust` or `rust-netlink` sounds fine.

[2022-10-06 00:53] cathay4t commented on #257
Please consider split this single project into small parts to simplify the effort of versioning.

[2022-10-07 11:18] cathay4t commented on #257
I have created https://github.com/rust-netlink and @benjumanji @JohnTitor @little-dude are invited as owner.

Currently, I have imported the full git repo there. I am doing split up in the meantime which might take a while.

[2022-10-07 11:46] cathay4t commented on #257
Tracking the repo split progress:

- [ ] audit
- [ ] mptcp-pm
- [ ] netlink-packet-generic
- [ ] netlink-packet-sock-diag
- [ ] netlink-proto
- [ ] ethtool
- [ ] netlink-packet-audit
- [ ] netlink-packet-netfilter
- [ ] netlink-packet-utils
- [ ] netlink-sys
- [ ] genetlink
- [ ] netlink-packet-core
- [ ] netlink-packet-route
- [ ] netlink-packet-wireguard
- [ ] rtnetlink

[2022-10-08 14:18] cathay4t commented on #257
The next steps:
- [ ] Request pending PRs to move to new places. Close if not respond after 1 month.
- [ ] Change README.md file to redirecting user to new places.
- [ ] Put this project into archiev mode.

[2022-10-08 14:35] cathay4t commented on #257
I have to admit I changed the `max_width` from 100 to 80 in all repos when I enable and fixing CI.
The 80 allows me to open two buffer windows in vim and that improve my daily code work speed.

[2022-10-09 03:16] wllenyj commented on #257
I'd love to maintain `rust-netlink` together, I am maintaining [dbs](https://github.com/openanolis/dragonball-sandbox). We use the `netlink-rs` crate in kata-containers.

In `netlink-rs`, I mainly implemented the `tc` feature.

[2022-10-10 08:05] cathay4t commented on #257
@wllenyj I have invited you into `rust-netlink` organization with rw right considering you have 4 patches merged. Thanks for the interest on https://github.com/rust-netlink

[2022-10-12 08:31] Tuetuopay commented on #257
Heh this happens right when I opened a PR for a long-standing issue on the core netlink socket handling (the ENOBUFS thingy). I'll reopen it against the proper repo!

[2022-10-13 03:12] cathay4t commented on #257
@Tuetuopay Sorry for the extra work, but I believe isolate crates is better than bloated project. Thanks for the efforts.

[2022-10-13 03:14] cathay4t commented on #257
@Tuetuopay And IMHO, reexport is wrong. If you don't have use case require so, you don't need to follow that old habit.

[2022-10-13 08:20] Tuetuopay commented on #257
Oh ok, well, that reduces the PR count. Thanks :)

[2022-10-13 09:14] wllenyj commented on #257
@cathay4t @little-dude @JohnTitor Do we have a repo or slack for public discussion to? I want to create code coverage support for netlink, but don't know where to post the Proposal.

[2022-10-16 08:55] cathay4t commented on #257
@wllenyj Github issue could be a good place for disucssion. You may use https://github.com/rust-netlink/.github/issues if that topic is related to general design. In case anyone want instant feedback, I am on IRC libra `#rust-netlink` channel.

[2022-10-16 09:02] cathay4t commented on #257
https://github.com/rust-netlink/.github/issues/1 create to track the efforts on removing `reexport`.
https://github.com/rust-netlink/.github/issues/2 created for test code coverage.